<div class="main posts posts-new">
  <div class="container">
       <% @posts.each do |post| %>
        <div class="post-container">
          <div class="user-name">
           <% user = User.find_by(id: post.user_id) %>
           <%= user.name %>
         </div>
          <div class="post-content">
            <%= post.content %>
          </div>
          <div class="date">
            <%= post.created_at %>
          </div>

        </div>
       <% end %>
     </div>
</div>
